{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login yu</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit">Login</button>
        {% if error %}
        <h1>Ada yang salah, mohon ulangi</h1>
        {% endif %}
    </form>
    <h3>Belum punya akun?</h3>
    <a href="/register">
        <button>
            Daftar dulu yu
        </button>
    </a>
</body>

</html>