{% load static %}
{% if is_admin %}
{% include "pages/base_admin.html" %}
{% endif %}
{% if not is_admin %}
{% include "pages/base.html" %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar RS Cabang</title>
</head>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }
</style>

<body>
    <h1>LIST RS CABANG</h1>
    <table>
        <tr>
            <th>Kode RS</th>
            <th>Nama</th>
            <th>Tanggal Pendirian</th>
            <th>Jalan</th>
            <th>Kota</th>
            <th>Nomor</th>
            {% if is_admin %}
            <th>Action Admin</th>
            {% endif %}
        </tr>
        {% for rs in data %}
        <tr>
            <td>{{ rs.kode_rs  }}</td>
            <td>{{ rs.nama  }}</td>
            <td>{{ rs.tanggal_pendirian  }}</td>
            <td>{{ rs.jalan  }}</td>
            <td>{{ rs.nomor }}</td>
            <td>{{ rs.kota  }}</td>
            {% if is_admin %}
            <td>
                <a href="/rscabang/update_rs/?kode_rs={{rs.kode_rs}}">
                    <button>UPDATE</button>
                </a>
                <br>
                <a href="">
                    <button onclick="deleteRs('{{rs.kode_rs}}')">DELETE</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
      
    </table>
</body>
<script>
    const deleteRs = (kode_rs) => {
        var xhttp = new XMLHttpRequest();
        var data = {
            payload: kode_rs
        }
        var json = JSON.stringify(data);
        xhttp.open("POST", "/rscabang/delete_rs/");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(json);
        alert(`${kode_rs} Berhasil di delete!`);
    }
</script>
</html>