{% load static %}
{% include "pages/base_admin.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Tindakan Poliklinik</title>
</head>

<body>
    <h1>Update Tindakan Poliklinik</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">UPDATE</button>
    </form>
</body>

</html>