
{% load static %}
{% if is_admin %}
{% include "pages/base_admin.html" %}
{% endif %}
{% if not is_admin %}
{% include "pages/base.html" %}
{% endif %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesi Konsultasi</title>
</head>

<style type='text/CSS'>
    .center {text-align : center}
</style>

<body>
    <h1 class ='center'>FORM SESI KONSULTASI</h1>

    </br>

    <form action="" method="POST" class='center'>
        {% csrf_token %}
        <div class="form-group">
            <label class='left'>Nomor Rekam Medis Pasien</label>
            <div>{{form.no_rekam_medis}}</div>
        </div>

        <div class="form-group">
            <label class='left'>Tanggal</label>
            <div>{{form.tanggal}}</div>
        </div>
        
        <div class="form-group">
            <label class='left'>ID Transaksi</label>
            <div>{{form.id_transaksi}}</div>
        </div>
        <br>
        <button type="submit" class='btn btn-primary'>Buat</button>
    </form>

</body>

</html>