{% load static %}
{% include "pages/base_admin.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Resep</title>
</head>

<body>
    <h1>Bikin resep</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <div id="obat-select"></div>
        <button onClick="createObat()">SUBMIT</button>
    </form>
    <button id="add-obat">Add obat</button>
</body>
<script>
    var counter = 1;
    var button = document.getElementById("add-obat");
    button.addEventListener('click', function () {
        var select = document.getElementById("id_kode_obat");
        var clone = select.cloneNode(true);
        clone.id = `id_kode_obat_${counter}`
        document.getElementById('obat-select').insertAdjacentHTML('beforeend', clone.outerHTML);
        counter += 1;
    });


    const createObat = () => {
        const id_konsultasi = document.getElementById("id_id_konsultasi").value;
        const id_transaksi = document.getElementById("id_id_transaksi").value;
        const kode_obat_main = document.getElementById("id_kode_obat").value;
        var kode_obat = [kode_obat_main]
        for (i = 1; i < counter; i++) {
            var val = document.getElementById(`id_kode_obat_${i}`).value;
            if (kode_obat.includes(val)) {
                return alert("Kode obat tidak boleh sama");
            }
            kode_obat.push(val);
        }
        var payload = {
            id_konsultasi: id_konsultasi,
            id_transaksi: id_transaksi,
            kode_obat: kode_obat,
        };
        var xhttp = new XMLHttpRequest();
        var data = {
            payload: payload,
        }
        var json = JSON.stringify(data);
        xhttp.open("POST", "/resep/create-resep-api/");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(json);
    }
</script>

</html>