{% if is_admin %}
{% include "pages/base_admin.html" %}
{% endif %}
{% if not is_admin %}
{% include "pages/base.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Resep</title>
</head>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }
</style>

<body>
    <h1>Display Resep</h1>
    <table>
        <tr>
            <th>Nomor resep</th>
            <th>Total Harga</th>
            <th>ID Konsultasi</th>
            <th>ID transaksi</th>
            <th>Daftar Obat</th>
            {% if is_admin %}
            <th>Action</th>
            {% endif %}
        </tr>
        {% for resep in data %}
        <tr>
            <td>{{ resep.no_resep }}</td>
            <td>{{ resep.total_harga }}</td>
            <td>{{ resep.id_konsultasi }}</td>
            <td>{{ resep.id_transaksi }}</td>
            <td>{{ resep.string_agg }}</td>
            {% if is_admin %}
            <td>
                <a href="">
                    <button onClick="alert('updated')">UPDATE</button>
                </a>
                <br>
                <a href="">
                    <button onclick="deleteResep('{{resep.no_resep}}')">DELETE</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
</body>


<script>
    const deleteResep = (id_resep) => {
        var xhttp = new XMLHttpRequest();
        var data = {
            payload: id_resep
        }
        var json = JSON.stringify(data);
        xhttp.open("POST", "/resep/delete-resep/");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(json);
    }
</script>

</html>