{% load static %}
{% include "pages/base_admin.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Tindakan</title>
</head>

<body>
    <h1>Update Tindakan</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <label>Daftar ID Tindakan Poli:</label>
        {% for id in data %}
            <select name="id_tindakan_poli_field">
                <option selected disabled>{{id.id_tindakan_poli}}</option>
            </select>
        {% endfor %}
        <br/>
        <button type="submit">UPDATE</button>
    </form>
</body>

</html>