{% if is_admin %}
{% include "pages/base_admin.html" %}
{% endif %}
{% if not is_admin %}
{% include "pages/base.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Transaksi</title>
</head>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }
</style>

<body>
    <h1>Display Transaksi</h1>
    <table>
        <tr>
            <th>Tanggal</th>
            <th>Status</th>
            <th>Total Biaya</th>
            <th>Waktu Pembayaran</th>
			<th>Nomor Rekam Medis Pasien</th>
            {% if is_admin %}
            <th>Action</th>
            {% endif %}
        </tr>
        {% for transaksi in data %}
        <tr>
            <td>{{ transaksi.tanggal }}</td>
            <td>{{ transaksi.status }}</td>
            <td>{{ transaksi.total_biaya }}</td>
            <td>{{ transaksi.waktu_pembayaran }}</td>
			<td>{{ transaksi.no_rekam_medis }}</td>
            {% if is_admin %}
            <td>
                <a href="/transaksi/update/?id={{ transaksi.id_transaksi }}">
                    <button>UPDATE</button>
                </a>
                <br>
                <a href="">
                    <button onclick="deleteTransaksi('{{ transaksi.id_transaksi }}')">DELETE</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
</body>

<script>
    const deleteTransaksi = (id_transaksi) => {
        var xhttp = new XMLHttpRequest();
        var data = {
            payload: id_transaksi
        }
        var json = JSON.stringify(data);
        xhttp.open("POST", "/transaksi/delete/");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(json);
		alert(`${id_transaksi} Berhasil di delete!`);
    }
</script>

</html>