{% load static %}
{% include "pages/base_admin.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Layanan Poliklinik</title>
</head>

<body>
    <h2>FORM PEMBUATAN LAYANAN POLIKLINIK</h2>
    <button id="tambah_jadwal">Tambah Jadwal</button>
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
    </br>
    <h4>Daftar Jadwal</h4>
        {{forms}}
        <div id="jadwal_poliklinik"></div>
        <button id="btn_submit">SUBMIT</button>
    </form>
</body>
<script>
    var counter = 1;
    var button = document.getElementById("tambah_jadwal");
    button.addEventListener('click', function () {
        var select = document.getElementById("id_hari");
        document.getElementById('jadwal_poliklinik').insertAdjacentHTML('beforeend', select.outerHTML);
        var select = document.getElementById("id_waktu_mulai");
        document.getElementById('jadwal_poliklinik').insertAdjacentHTML('beforeend', select.outerHTML);
        var select = document.getElementById("id_waktu_selesai");
        document.getElementById('jadwal_poliklinik').insertAdjacentHTML('beforeend', select.outerHTML);
        var select = document.getElementById("id_kapasitas");
        document.getElementById('jadwal_poliklinik').insertAdjacentHTML('beforeend', select.outerHTML);
        counter += 1;
    });
</script>
<script>
    var counter = 1;
    var button = document.getElementById("tambah_tindakan");
    button.addEventListener('click', function () {
        var select = document.getElementById("id_id_tindakan_poliklinik");
        var clone = select.cloneNode(true);
        clone.id = `id_id_tindakan_poliklinik${counter}`
        document.getElementById('daftar_tindakan').insertAdjacentHTML('beforeend', clone.outerHTML);
        counter += 1;
    });

    var submit = document.getElementById("btn_submit");
    submit.addEventListener('click', function () {
        const id_tindakan_poliklinik = document.getElementById("id_id_tindakan_poliklinik").value;
        var arr_id_tindakan_poli = [id_tindakan_poliklinik]

        for (i = 1; i < counter; i++) {
            var val = document.getElementById(`id_id_tindakan_poliklinik${i}`).value;
            // if (arr_id_tindakan_poli.includes(val)) {
            //     return alert("ID tindakan poliklinik tidak boleh sama!");
            // }
            arr_id_tindakan_poli.push(val);
        }
    });
</script>
</html>