{% if is_admin %}
{% include "pages/base_admin.html" %}
{% endif %}
{% if not is_admin %}
{% include "pages/base.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jadwal Layanan Poliklinik</title>
</head>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }
</style>

<body>
    <h1>Jadwal Layanan Poliklinik</h1>
    <table>
        <tr>
            <th>ID Jadwal Poliklinik</th>
            <th>Hari</th>
            <th>Waktu Mulai</th>
            <th>Waktu Selesai</th>
            <th>Kapasitas</th>
            <th>ID Dokter</th>
            <th>ID Poliklinik</th>
            {% if is_admin %}
            <th>Action</th>
            {% endif %}
        </tr>
        {% for jadwal_layanan_poliklinik in data %}
        <tr>
            <td>{{ jadwal_layanan_poliklinik.id_jadwal_poliklinik }}</td>
            <td>{{ jadwal_layanan_poliklinik.hari }}</td>
            <td>{{ jadwal_layanan_poliklinik.waktu_mulai }}</td>
            <td>{{ jadwal_layanan_poliklinik.waktu_selesai }}</td>
            <td>{{ jadwal_layanan_poliklinik.kapasitas }}</td>
            <td>{{ jadwal_layanan_poliklinik.id_dokter }}</td>
            <td>{{ jadwal_layanan_poliklinik.id_poliklinik }}</td>
            {% if is_admin %}
            <td>
                <a href="/layanan_poliklinik/update-jadwal/?id_jadwal_poliklinik={{jadwal_layanan_poliklinik.id_jadwal_poliklinik}}&id_poliklinik={{jadwal_layanan_poliklinik.id_poliklinik}}">
                    <button>UPDATE</button>
                </a>
                <br>
                <a href="">
                    <button onclick="deleteJadwal('{{jadwal_layanan_poliklinik.id_jadwal_poliklinik}}','{{ jadwal_layanan_poliklinik.id_poliklinik }}')">DELETE</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
</body>
<script>
    const deleteJadwal = (id_jadwal_poliklinik,id_poliklinik) => {
        var xhttp = new XMLHttpRequest();
        var data = {
            payload: {id_jadwal: id_jadwal_poliklinik, id_poli: id_poliklinik}
        }
        var json = JSON.stringify(data);
        xhttp.open("POST", "/layanan_poliklinik/delete-jadwal/");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(json);
    }
</script>
</html>