{% if is_admin %}
{% include "pages/base_admin.html" %}
{% endif %}
{% if not is_admin %}
{% include "pages/base.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Layanan Poliklinik</title>
</head>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }
</style>

<body>
    <h1>Daftar Layanan Poliklinik</h1>
    <table>
        <tr>
            <th>ID Layanan Poliklinik</th>
            <th>Nama</th>
            <th>Deskripsi</th>
            <th>Kode RS Cabang</th>
            <th>Jadwal Poliklinik</th>
            {% if is_admin %}
            <th>Action</th>
            {% endif %}
        </tr>
        {% for layanan_poliklinik in data %}
        <tr>
            <td>{{ layanan_poliklinik.id_poliklinik }}</td>
            <td>{{ layanan_poliklinik.nama }}</td>
            <td>{{ layanan_poliklinik.deskripsi }}</td>
            <td>{{ layanan_poliklinik.kode_rs_cabang }}</td>
            <td>
                <a href="/layanan_poliklinik/display-jadwal/?id_poliklinik={{layanan_poliklinik.id_poliklinik}}">
                    <button onclick="">Jadwal</button>
                </a>
            </td>
            {% if is_admin %}
            <td>
                <a href="/layanan_poliklinik/update-layanan/?id_poliklinik={{layanan_poliklinik.id_poliklinik}}">
                    <button>UPDATE</button>
                </a>
                <br>
                <a href="">
                    <button onclick="deleteLayanan('{{layanan_poliklinik.id_poliklinik}}')">DELETE</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
</body>
<script>
    const deleteLayanan = (id_layanan) => {
        var xhttp = new XMLHttpRequest();
        var data = {
            payload: id_layanan
        }
        var json = JSON.stringify(data);
        xhttp.open("POST", "/layanan_poliklinik/delete/");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(json);
    }
</script>
</html>